$primary-cl: #c9b241;
$white: #fff;
$bg: #f2f2f2;
$black: #000;
$primary-font: 'Nunito';
$no-color: #e22926;

// Imports
@import 'index/index';
@import 'index/profile';
@import 'index/services';
@import 'index/service.scss';
@import 'index/_orders.scss';
@import 'index/_jobs.scss';

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  font-family: $primary-font;
  background-color: $bg;
//  overflow-x:hidden;
}

  .ulance-btn {
    border: 0.0625rem solid;
    border-color: $primary-cl;
    padding: 0.625rem 2.5em;
    font-weight: 600;
    color: $primary-cl;
    background-color: $white;
  }

  .ulance-btn:hover {
    opacity: 0.75;
    background-color: $primary-cl;
    color:black;
    cursor: pointer;
  }

  .cancel-btn {
    border: 0.0625rem solid;
    border-color: $no-color;
    padding:.625rem 0.5rem;
    font-weight: 600;
    color: $no-color;
    background-color: $white;
  }

  .cancel-btn:hover {
    opacity: 0.75;
    cursor: pointer;
  }

a:hover {
  text-decoration: none;
}

.form-group > div > span {
  display: none;
}

i {
  padding-left:0.25rem;
}

i:hover {
  cursor: pointer;
  opacity: 0.75;
}

.autocomplete-menu {
//    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 12.5rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.875rem;
  .ac-item {
    font-weight:bold;
  }



  .ac-item:hover {
    background-color: gray;
    opacity: 0.4;
    cursor:pointer;
  }

datalist {
      position: absolute;
    background-color: #f1f1f1;
    min-width: 12.5rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.875rem;
  color: red !important;
}
}

.delete-confirm-btn {
  background-color: red;
  color: white;
}

.alert-btn {
  background-color: black;
  color: $primary-cl;
}

.warning-btn {
  background-color: $white;
  color: $no-color;
}

.shopping-cart {
  color: $primary-cl;
  font-size:1.1rem;
  margin-top:.2rem;
}

.shopping-cart:hover {
  color: $primary-cl;
}

// LOADING
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}