$primary-cl: #c9b241;
$white: #fff;
$bg: #f2f2f2;
$black: #000;
$primary-font: 'Nunito';
$no-color: #e22926;

// Imports
@import 'index/index';
@import 'index/profile';

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  font-family: $primary-font;
  background-color: $bg;
//  overflow-x:hidden;
}

  .ulance-btn {
    border: 0.0625rem solid;
    border-color: $primary-cl;
    padding: 0.625rem 2.5em;
    font-weight: 600;
    color: $primary-cl;
    background-color: #262626;
  }

  .ulance-btn:hover {
    opacity: 0.75;
    background-color: $primary-cl;
    color:black;
    cursor: pointer;
  }

  .cancel-btn {
    border: 0.0625rem solid;
    border-color: $no-color;
    padding:.625rem 0.5rem;
    font-weight: 600;
    color: $no-color;
    background-color: $white;
  }

  .cancel-btn:hover {
    opacity: 0.75;
    cursor: pointer;
  }

a:hover {
  text-decoration: none;
}

.form-group > div > span {
  display: none;
}



