<!--<form id="add-certification-form">-->
<!--<div class="form-group">-->
    <!--<span class="text-center text-danger" id="name"></span>-->
    <!--<input type="text" name="name" class="form-control"  placeholder="Enter Certification Name">-->
<!--</div>-->
<!--<div class="form-group">-->
    <!--<span class="text-center text-danger" id="issued_from"></span>-->
    <!--<input type="text" name="issued_from" class="form-control"  placeholder="Who Issued the Cerification?">-->
<!--</div>-->
<!--<div class="form-group">-->
    <!--<span class="text-center text-danger" id="year_issued"></span>-->
    <!--<input type="text" name="year_issued" class="form-control"  placeholder="Who Issued the Cerification?">-->
<!--</div>-->
<!--<div class="form-group row">-->
    <!--<button type="submit" id="add-certification-btn" class="ulance-btn col-6">Add Certification</button>-->
    <!--<button role="button" type="button" class="cancel-btn col-6" onclick=cancelForm('add-certification-form')>Cancel</button>-->
<!--</div>-->
<!--</form>-->