<!--<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h5 class="modal-title">Add Link</h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="modal-body">-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-review-form" v-on:submit.prevent="updateReview()">
            <div class="form-group">
                <span class="text-center text-danger" id="description_edit_review"></span>
                <span class="text-center text-danger"></span>
                <textarea cols="5" v-model="currentReview.description" class="form-control" placeholder="Describe your experience here."></textarea>
            </div>
            <div class="form-group">
                <span class="text-center text-danger" id="rate_edit_review"></span>
                <span class="text-center text-danger"></span>
                <input type="number" step="0.01" v-model="currentReview.rate" class="form-control"  placeholder="Enter your rating 1-10.">
            </div>

      <div class="modal-footer">
        <button type="submit" class="btn ulance-btn">Update Review</button>
        <button type="button" class="btn cancel-btn" data-dismiss="modal">Close</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>