<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="position:static">
        <form id="edit-service-form" v-on:submit.prevent="updateService()">
            <div class="form-group">
                <span class="text-center text-danger" id="name_edit_service"></span>
                <span class="text-center text-danger"></span>
                <input type="text"  v-model="currentService.name" class="form-control" placeholder="Choose a Name">
            </div>
            <div class="form-group">
                <span class="text-center text-danger" id="price_edit_service"></span>
                <span class="text-center text-danger"></span>
                <input type="number" step="0.01"  v-model="currentService.price" class="form-control" placeholder="$">
            </div>
            <div class="form-group">
            <select class="form-control" v-model="currentService.delivery_time">
                    <option value="" disabled selected>Choose estimated delivery time</option>
                    <option value="Early">1-3</option>
                    <option value="Normal">3-5</option>
                    <option value="Later">7+</option>
            </select>
            </div>
            <div class="form-group">
                <span class="text-center text-danger" id="description_edit_service"></span>
                <span class="text-center text-danger"></span>
                <textarea class="form-control" rows="5" v-model="currentService.description" placeholder="Description for your service"></textarea>
            </div>
            {% include 'forms/_category_selection.html' %}
      <div class="modal-footer">
        <button type="submit" class="btn ulance-btn">Update Service</button>
        <button type="button" class="btn cancel-btn" data-dismiss="modal">Close</button>
      </div>
        </form>
          {% include '_service_category_list.html' %}<hr>
          {% include '_category_list.html' %}
      </div>
    </div>
  </div>
</div>