{% extends 'base.html' %}

{% block content %}
<div class="container" id="profile-app">
{% include 'forms/_link_forms.html' %}
{% include 'forms/_certification_forms.html' %}
{% include 'forms/_user_modals.html' %}
{% include 'forms/_skill_forms.html' %}
{% include 'forms/_education_forms.html' %}

    <div class="text-center" style="padding-bottom:20px">
        <img :src="user.profile_pic" class="rounded-circle" style="height:150px;width:200px"/>

        <form id="formpic" v-on:submit.prevent="onUpload()" enctype="multipart/form-data">
        <input type="file" @change="onFileSelected" name="profile_pic">
        <button type="submit">Upload</button>
            </form>
            <!--<input type="file" @change="onFileSelected">-->
        <!--<button @click="onUpload">Upload</button>-->
    </div>
    <div class="row" id="user-info-section">
        <div id="user-section" class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-header-section">Description{% if request.user == user %}<i class="fa fa-edit" data-toggle="modal" data-target="#editDescriptionModal"></i>{% endif %}</p>
                    <p v-if="user.description" id="description" class="description">${user.description}</p>
                    <p v-else id="description" class="description">No Description</p>
                </div>
            </div>
        </div>
        <div class="talent-section col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <div class="card text-center">
                <div class="card-body">

                    <p class="card-header-section">Education
                    {% if request.user == User %}<i class="fa fa-plus-circle" data-toggle="modal" data-target="#addEducationModal"></i>{% endif %}
                    </p>
                    <div v-if="educations.length != 0">
                        <div v-for="education in educations">
                            <p>${education.school}</p>
                            <span>${education.major} - ${education.degree_type}</span>
                            <p style="font-size:0.5rem">(${education.status})</p>
                            {% if request.user == User %}
                                <i class="fa fa-edit" v-on:click="getEducation(education.id)"></i><i class="fa fa-trash-alt" v-on:click="deleteEducation(education.id)"></i>
                            {% endif %}
                            <hr>
                        </div>
                        </div>

                    <div v-else><p>No Education</p></div>


                    <div id="skills" class="model-section">
                        <p class="card-header-section">Skills
                        {% if request.user == User %} <i class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal" data-target="#addSkillModal"></i> {% endif %}
                        </p>
                        <div v-if="skills.length != 0">
                            <div v-for="skill in skills" style="display:inline">
                                <span style="margin-left:.125rem;margin-right:.125rem" class="badge badge-pill badge-info">${skill.skill} - ${skill.skill_level}
                                    {% if request.user == User %}
                                        <i class="fa fa-edit" v-on:click="getSkill(skill.id)"></i><i class="fa fa-trash-alt" v-on:click="deleteSkill(skill.id)"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <div v-else><p>No Skills</p></div>


                    </div>
                </div>
            </div>
        </div>
        <div class="talent-section col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <div class="card text-center">

                <div class="card-body">

                    <div id="certifications" class="model-section">

                        <p class="card-header-section">Certifications
                        {% if request.user == User %}<i class="fa fa-plus-circle" data-toggle="modal" data-target="#addCertificationModal"></i>{% endif %}
                        </p>

                        <div v-if="certifications.length != 0">
                            <div v-for="certification in certifications">
                                <p>${certification.issued_from} - ${certification.name} | ${certification.year_issued}</p>
                                {% if request.user == User %}
                                <i class="fa fa-edit" v-on:click="getCertification(certification.id)"></i><i class="fa fa-trash-alt" v-on:click="deleteCertification(certification.id)"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div v-else><p>No Certifications</p></div>


                    </div>

                <div id="links" class="model-section">
                    <p class="card-header-section">Links
                    {% if request.user == User %}<i class="fa fa-plus-circle" data-toggle="modal" data-target="#addLinkModal"></i>{% endif %}
                    </p>
                    <div id="no-add-link-form">
                        <section id="no-edit-link-form">

                        <div id="link-section">
                            <div v-if="links.length != 0">
                                <div v-for="link in links">
                                    <div class="link-list">
                                        <p style="display:inline" style="font-size:.7rem">${link.brief_description}</p>
                                        {% if request.user == User %}
                                        <i class="fa fa-edit" v-on:click="getLink(link.id)"></i><i class="fa fa-trash-alt" v-on:click="deleteLink(link.id)"></i>
                                        {% endif %}
                                        <a :href = link.link target="_blank" style="display:block;font-size:.7rem">${link.link}</a>
                                    </div>
                                </div>
                            </div>
                            <div v-else><p>No Links</p></div>
                        </div>

                    </section>


                    </div>

                </div>
                </div>
            </div>
        </div>

    </div>
    <div style="padding-bottom:2rem"></div>
    {% include '_service_list.html' %}
</div>

<script>
Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
var demo = new Vue({
  el: '#profile-app',
  delimiters: ['${','}'],
  data: {
    links: [],
    educations: [],
    currentEducation: {},
    selectedParentCategory: {},
    parentCategories: [{'name': 'Choose Main Category', id: '0'}],
    parentCategoryId: "",
    subCategories: [],
    serviceCategories: [],
    services: [],
    currentService: {},
    newEducation: {'school': null, 'major': null, 'status': null, 'degree_type': null},
    schoolSearches: [],
    majorSearches: [],
    skills: [],
    skillSearches: [],
    currentSkill: {},
    newSkill: {'skill': null, 'skill_level': null},
    loading: true,
    currentLink: {},
    newLink: {'link': null, 'brief_description': null},
    certifications: [],
    currentCertification: {},
    newCertification: {'name': null, 'issued_form': null, 'year_issued': null},
    user: {},
    user_url: '/api/profiles/user/{{User.username}}/',
    selectedFile: null


  },

  mounted: function() {
    this.getLinks();
    this.getCertifications();
    this.getUserPage();
    this.getSkills();
    this.searchSkills();
    this.getEducations();
    this.getParentCategories();
    this.getServices();
  },

  methods: {

      addToCart: function(serviceId) {
          let api_url = `/api/orders/entry/add/${serviceId}/`
          this.$http.post(api_url).then(function(response){
                console.log("Success")
          })
      },

      getParentCategories: function() {
        let api_url = '/api/services/main-categories/'
          this.$http.get(api_url).then(function(response){
              this.parentCategories = response.data.results  //this.parentCategories.concat(response.data.results)//
          })
      },

      getSubCategories: function() {
        let api_url = `/api/services/sub-categories/${this.parentCategoryId}/`
        this.$http.get(api_url).then(function(response){
            this.subCategories = response.data.results
        })
      },

      getServiceCategories: function() {
        let api_url = `/api/services/${this.currentService.id}/categories/`
        this.$http.get(api_url).then(function(response){
            this.serviceCategories = response.body
        })
      },

      removeCategory: function(categoryId) {
          let api_url = `/api/services/${this.currentService.id}/remove/${categoryId}/`
          this.$http.post(api_url).then(function(response){
            this.getServiceCategories()
          })
      },

      addCategory: function(categoryId) {
          let api_url = `/api/services/${this.currentService.id}/add/${categoryId}/`
          this.$http.post(api_url).then(function(response){
              this.getServiceCategories()
          })
      },

      getServices: function() {
        let api_url = '/api/services/{{User.username}}/services/'
        this.$http.get(api_url).then(function(response){
            this.services = response.data.results
        })
      },

      getService: function(id) {
          let api_url = `/api/services/${id}/`
          this.$http.get(api_url).then(function(response){
              this.currentService = response.data;
              this.getServiceCategories()
              $('#editServiceModal').modal('show')
          })
      },

      deleteService: function(id) {
        let api_url = `/api/services/${id}/`
        let answer = confirm("Are you sure?")
        if(answer) {
            this.$http.delete(api_url).then(function (response) {
                alert('service has been deleted')
                this.getServices()
            })
        }
      },

      updateService: function() {
        let api_url = `/api/services/${this.currentService.id}/`
        this.$http.put(api_url, this.currentService).then(function(response){
            $('#editServiceModal').modal('toggle')
            this.getServices()
        }).catch(function(err){
            console.log(err)
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true, true)
        })
      },

      getLinks: function() {
        let api_url = '/api/profiles/{{User.username}}/links/'
        this.$http.get(api_url).then(function(response){
            this.links = response.data.results
        }).catch(function(err){
            console.log(err)
        })

      },

      getLink: function(id) {
          let api_url = `/api/profiles/link/${id}/`
          this.$http.get(api_url).then(function(response){
              console.log(response.data)
              this.currentLink = response.data;
              $("#editLinkModal").modal('show')
          }).catch(function(err){
            console.log(err)
          })
      },

      addLink: function() {
        let api_url = '/api/profiles/link/create/'
        this.$http.post(api_url, this.newLink).then(function(response){
            $('#addLinkModal').modal('toggle')
            this.getLinks()
        }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr)
        })
      },

      updateLink: function() {
          let api_url = `/api/profiles/link/${this.currentLink.id}/`
          this.$http.put(api_url, this.currentLink).then(function(response) {
            this.getLinks()
            $('#editLinkModal').modal('toggle')
          }).catch(function(err) {
            //  console.log(err)
             // console.log(err.body)
              let jsonerrs = JSON.parse(err.bodyText)
              attachFormErrors(jsonerrs, true)
          })
      },

      deleteLink: function(id) {
        let api_url = `/api/profiles/link/${id}/`
        let answer = confirm("Are you sure?");
        if(answer) {
            this.$http.delete(api_url).then(function (response) {
                alert("Item has been deleted")
                this.getLinks()
            }).catch(function (err) {
                console.log(err)
            })
        }
      },

      getCertifications: function() {
          let api_url = '/api/profiles/{{User.username}}/certifications/'
          this.$http.get(api_url).then(function(response){
              this.certifications = response.data.results
          }).catch(function(err){
            console.log(err)
          })
      },

      getCertification: function(id) {
          let api_url = `/api/profiles/certification/${id}/`
          this.$http.get(api_url).then(function(response){
              this.currentCertification = response.data;
              $('#editCertificationModal').modal('show');
          }).catch(function(err){
              console.log(err)
          })
      },

      addCertification: function() {
          let api_url = '/api/profiles/certification/create/'
          this.$http.post(api_url, this.newCertification).then(function(response){
              this.getCertifications()
              $('#addCertificationModal').modal('toggle')
          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr)
          })
      },

      updateCertification: function() {
          let api_url = `/api/profiles/certification/${this.currentCertification.id}/`
          this.$http.put(api_url, this.currentCertification).then(function(response){
              this.getCertifications()
              $('#editCertificationModal').modal('toggle')
          }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true)
          })
      },

      deleteCertification: function(id) {
          let api_url = `/api/profiles/certification/${id}/`
          answer = confirm("are you sure?")
          if(answer) {
              this.$http.delete(api_url).then(function (response) {
                  this.getCertifications()
              }).catch(function (err) {

              })
          }
      },

      getSkill: function(id) {
          let api_url = `/api/profiles/level/${id}/`
          this.$http.get(api_url).then(function(response){
              this.currentSkill = response.data
              $('#editSkillModal').modal('show')
          }).catch(function(err){

          })
      },

      getSkills: function() {
        let api_url = '/api/profiles/{{User.username}}/levels/'
        this.$http.get(api_url).then(function(response){
            this.skills = response.data.results
        }).catch(function(err){

        })
      },

      addSkill: function() {
          let api_url = '/api/profiles/level/create/'
          this.$http.post(api_url, this.newSkill).then(function(resposne){
              this.getSkills()
              $('#addSkillModal').modal('toggle')
          }).catch(function(err){
              console.log(err)
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr)
          })
      },

      updateSkill: function() {
        let api_url = `/api/profiles/level/${this.currentSkill.id}/`
        this.$http.put(api_url, this.currentSkill).then(function(resposne){
            this.getSkills()
            $('#editSkillModal').modal('toggle')
        }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true)
        })
      },

      deleteSkill: function(id) {
          let api_url = `/api/profiles/level/${id}/`
          let answer = confirm("are you sure you want to delete?")
          if(answer) {
              this.$http.delete(api_url).then(function (response) {
                  alert("item has been deleted")
                  this.getSkills()
              }).catch(function (err) {

              })
          }
      },

      getEducation: function(id) {
        let api_url = `/api/profiles/education/${id}/`
          this.$http.get(api_url).then(function(response){
              this.currentEducation = response.data
              $('#editEducationModal').modal('show')
          }).catch(function(err){

          })
      },

      getEducations: function() {
          let api_url = '/api/profiles/{{User.username}}/educations/'
          this.$http.get(api_url).then(function(response){
              this.educations = response.data.results
          }).catch(function(err){

          })
      },

      addEducation: function() {
        let api_url = '/api/profiles/education/create/'
          this.$http.post(api_url, this.newEducation).then(function(){
              this.getEducations()
              $('#addEducationModal').modal('toggle')
          }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true)
          })
      },

      updateEducation: function() {
        let api_url = `/api/profiles/education/${this.currentEducation.id}/`
          this.$http.put(api_url, this.currentEducation).then(function(resposne){
            this.getEducations()
            $('#editEducationModal').modal('toggle')
          }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true)
          })
      },

      deleteEducation: function(id) {
        let api_url = `/api/profiles/education/${id}/`
          let answer = confirm("Are you sure you want to delete?")
          if(answer) {
              this.$http.delete(api_url).then(function (response) {
                alert("Item has been deleted")
                this.getEducations()
              }).catch(function (err) {

              })
          }
      },

      searchSchools: function(ID) {
          let api_url = '/api/profiles/educations/'
          let htmlID = '#' + ID
          let input = $(htmlID)
          let search_term = input.val()
          if(search_term) {
              api_url = `/api/profiles/schools/?school=${search_term}`
              this.$http.get(api_url).then(function(response){
                this.schoolSearches = response.data.results
              }).catch(function(err){

              })
          }
      },

      searchMajors: function(ID) {
          let api_url = '/api/profiles/educations/'
          let htmlID = '#' + ID
          let input = $(htmlID)
          let search_term = input.val()
          if(search_term) {
              api_url = `/api/profiles/majors/?major=${search_term}`
              this.$http.get(api_url).then(function(response){
                  this.majorSearches = response.data.results
              }).catch(function(err){

              })
          }
      },

      getUserPage: function() {
          this.$http.get(this.user_url).then(function(response){
            this.user = response.data
          })
      },

      updateDescription: function() {
          this.$http.put(this.user_url, this.user).then(function(response){
            $('#editDescriptionModal').modal('toggle');
          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              console.log(err)
              attachFormErrors(jsonerr, true)
          })
      },

      getDescription: function() {
          this.$http.get(this.user_url, this.user).then(function(response){
              this.user.description = response.data.description
          })
      },

      searchSkills: function(ID) {
          let api_url = '/api/profiles/skills/'
          let htmlID = '#' + ID
          let input = $(htmlID)
          let search_term = input.val()
        if(search_term) {
            api_url = `/api/profiles/skills/?skill=${search_term}`
        }
          this.$http.get(api_url).then(function(response){
              this.skillSearches = response.data.results
          }).catch(function(err){

          })
      },

      updatePicture: function() {
          this.$http.put(this.user_url + 'picture/', this.user).then(function(response){

          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr, true)
          })
      },

      onFileSelected: function(event) {
          console.log("event", event)
          this.selectedFile = event.target.files[0]
          console.log("file", this.selectedFile)
          console.log("typeof", typeof(this.selectedFile))
      },

      onUpload: function() {
//          var formData = $('#formpic').serialize()
          const fd = new FormData();
          fd.append('file', this.selectedFile)
          console.log('fd', fd.values())
//          const file_obj = new File(this.selectedFile)
//          console.log("file object", file_obj)
          this.$http.put(this.user_url + 'picture/', {'profile_pic': fd}).then(function(response){

          }).catch(function(err){
              console.log(err)
          })
      }

  }
})


</script>
{% endblock content %}