{% extends 'base.html' %}

{% block content %}
<div class="container" id="app">
{% include 'forms/_link_forms.html' %}
{% include 'forms/_certification_forms.html' %}
{% include 'forms/_user_modals.html' %}

    <div class="text-center" style="padding-bottom:20px">
        <img :src="user.profile_pic" class="rounded-circle" style="height:150px;width:200px"/>

        <form id="formpic" v-on:submit.prevent="onUpload()" enctype="multipart/form-data">
        <input type="file" @change="onFileSelected" name="profile_pic">
        <button type="submit">Upload</button>
            </form>
            <!--<input type="file" @change="onFileSelected">-->
        <!--<button @click="onUpload">Upload</button>-->
    </div>
    <div class="row" id="user-info-section">
        <div id="user-section" class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-header-section">Description{% if request.user == user %}<i class="far fa-edit" data-toggle="modal" data-target="#editDescriptionModal"></i>{% endif %}</p>
                    <p id="description" class="description">${user.description}</p>
                </div>
            </div>
        </div>
        <div id="talent-section" class="col-4">
            <div class="card text-center">

                <div class="card-body">
                    <div id="skills" class="model-section">
                        <p class="card-header-section">Skills</p>
                            <!--{% for level in Levels %}-->
                                <!--<a href="#"/><span class="badge badge-pill badge-info" data-id="{{level.id}}" id="{{level.id}}">{{ level.skill.name }} - {{ level.skill_level}}</span></a>-->
                            <!--{% endfor %}-->
                        <!--<button class="ulance-btn" role="button">Add New Skill</button>-->
                        <form id="add-skill">
                            <div class="form-group">

                            </div>
                        </form>
                    </div>

                    <div id="certifications" class="model-section">
                        <p class="card-header-section">Certifications</p>
                        <div v-for="certification in certifications">
                            <p>${certification.issued_from} - ${certification.name} | ${certification.year_issued}</p>
                            {% if request.user == User %}
                            <i class="far fa-edit" v-on:click="getCertification(certification.id)"></i><i class="far fa-trash-alt" v-on:click="deleteCertification(certification.id)"></i>
                            {% endif %}

                        </div>
                        {% if request.user == User %}<button class="ulance-btn" role="button" data-toggle="modal" data-target="#addCertificationModal">Add New Certification</button>{% endif %}

                    </div>

                <div id="links" class="model-section">
                    <p class="card-header-section">Links</p>
                    <div id="no-add-link-form">
                        <section id="no-edit-link-form">
                        <div id="link-section">
                                <!--{% for link in Links %}-->
                                        <!--<div class="link-list" id="{{ link.id }}" data-url="/api/profiles/link/{{link.id}}/">-->
                                        <!--<p style="display:inline">{{ link.brief_description }}</p><i class="far fa-edit"></i>-->
                                            <!--<i class="far fa-trash-alt delete-btn"></i>-->
                                        <!--<a href="{{ link.link }}" target="_blank" style="display:block" >{{ link.link }}</a>-->

                                        <!--</div>-->
                                <!--{% endfor %}-->
                            <div v-for="link in links">
                                <div class="link-list">
                                    <p style="display:inline">${link.brief_description}</p>
                                    {% if request.user == User %}
                                    <i class="far fa-edit" v-on:click="getLink(link.id)"></i><i class="fa fa-trash-alt" v-on:click="deleteLink(link.id)"></i>
                                    {% endif %}
                                    <a :href = link.link target="_blank" style="display:block">${link.link}</a>
                                </div>
                            </div>
                        </div>
                    {% if request.user == User %}<button class="ulance-btn add-edit-btn" role="button" data-toggle="modal" data-target="#addLinkModal">Add New Link</button>{% endif %}
                    </section>


                    </div>

                </div>
                </div>
            </div>
        </div>
        <div id="some-section" class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h4>Some Text</h4>
                </div> </div>
        </div>
    </div>
</div>

<script>
Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
var demo = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  data: {
    links: [],
    loading: true,
    currentLink: {},
    newLink: {'link': null, 'brief_description': null},
    certifications: [],
    currentCertification: {},
    newCertification: {'name': null, 'issued_form': null, 'year_issued': null},
    user: {},
    user_url: '/api/profiles/user/{{User.username}}/',
    selectedFile: null


  },
  mounted: function() {
    this.getLinks();
    this.getCertifications();
    this.getUserPage();
  },
  methods: {
      getLinks: function () {
        let api_url = '/api/profiles/{{User.username}}/links/'
        this.$http.get(api_url).then(function(response){
            this.links = response.data.results
        }).catch(function(err){
            console.log(err)
        })

      },

      getLink: function(id) {
          let api_url = `/api/profiles/link/${id}/`
          this.$http.get(api_url).then(function(response){
              console.log(response.data)
              this.currentLink = response.data;
              $("#editLinkModal").modal('show')
          }).catch(function(err){
            console.log(err)
          })
      },

      addLink: function() {
        let api_url = '/api/profiles/link/create/'
        this.$http.post(api_url, this.newLink).then(function(response){
            $('#addLinkModal').modal('toggle')
            this.getLinks()
        }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr)
        })
      },

      updateLink: function() {
          let api_url = `/api/profiles/link/${this.currentLink.id}/`
          this.$http.put(api_url, this.currentLink).then(function(response) {
            this.getLinks()
            $('#editLinkModal').modal('toggle')
          }).catch(function(err) {
            //  console.log(err)
             // console.log(err.body)
              let jsonerrs = JSON.parse(err.bodyText)
              console.log(jsonerrs)
              attachFormErrors(jsonerrs, true)
          })
      },

      deleteLink: function(id) {
        let api_url = `/api/profiles/link/${id}/`
        let answer = confirm("Are you sure?");
        if(answer) {
            this.$http.delete(api_url).then(function (response) {
                alert("Item has been deleted")
                this.getLinks()
            }).catch(function (err) {
                console.log(err)
            })
        }
      },

      getCertifications: function() {
          let api_url = '/api/profiles/{{User.username}}/certifications/'
          this.$http.get(api_url).then(function(response){
              console.log(response.data)
              this.certifications = response.data.results
          }).catch(function(err){
            console.log(err)
          })
      },

      getCertification: function(id) {
          let api_url = `/api/profiles/certification/${id}/`
          this.$http.get(api_url).then(function(response){
              this.currentCertification = response.data;
              $('#editCertificationModal').modal('show');
          }).catch(function(err){
              console.log(err)
          })
      },

      addCertification: function() {
          let api_url = '/api/profiles/certification/create/'
          this.$http.post(api_url, this.newCertification).then(function(response){
              this.getCertifications()
              $('#addCertificationModal').modal('toggle')
          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr)
          })
      },

      updateCertification: function() {
          let api_url = `/api/profiles/certification/${this.currentCertification.id}/`
          this.$http.put(api_url, this.currentCertification).then(function(response){
              this.getCertifications()
              $('#editCertificationModal').modal('toggle')
          }).catch(function(err){
            let jsonerr = JSON.parse(err.bodyText)
            attachFormErrors(jsonerr, true)
          })
      },

      deleteCertification: function(id) {
          let api_url = `/api/profiles/certification/${id}/`
          answer = confirm("are you sure?")
          if(answer) {
              this.$http.delete(api_url).then(function (response) {
                  this.getCertifications()
              }).catch(function (err) {

              })
          }
      },

      getUserPage: function() {
          this.$http.get(this.user_url).then(function(response){
            this.user = response.data
          })
      },

      updateDescription: function() {
          this.$http.put(this.user_url, this.user).then(function(response){
            $('#editDescriptionModal').modal('toggle');
          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              console.log(err)
              attachFormErrors(jsonerr, true)
          })
      },

      updatePicture: function() {
          this.$http.put(this.user_url + 'picture/', this.user).then(function(response){

          }).catch(function(err){
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr, true)
          })
      },

      onFileSelected: function(event) {
          console.log("event", event)
          this.selectedFile = event.target.files[0]
          console.log("file", this.selectedFile)
          console.log("typeof", typeof(this.selectedFile))
      },

      onUpload: function() {
//          var formData = $('#formpic').serialize()
          const fd = new FormData();
          fd.append('file', this.selectedFile)
          console.log('fd', fd.values())
//          const file_obj = new File(this.selectedFile)
//          console.log("file object", file_obj)
          this.$http.put(this.user_url + 'picture/', {'profile_pic': fd}).then(function(response){

          }).catch(function(err){
              console.log(err)
          })
      }

  }
})


</script>
{% endblock content %}