{% extends 'base.html' %}

{% block content %}

<div id="services-category-app" style="padding-top:3rem">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-10 col-10" style="margin-left:1rem">
                {% include '_order_select.html' %}
            </div>
        </div>
        {% include '_service_list.html' %}
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
</div>

<script>
Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
const servicesCategory = new Vue({
    el: '#services-category-app',
    delimiters: ['${','}'],
    data: {
        api_url: "/api/services/categories/{{category.name}}/services/",
        servicesUrl : "/api/services/categories/{{category.name}}/services/",
        currentOrder: "",
        services: [],
        parentCategories: [],
        parentCategoryId: "",
        subCategories: [],
        serviceCategories: [],
        loading: true,
        pages: [],
        currentPage: 1,
        count: 0,
        currentService: {},
        orderingList: [{label: 'Sort', value: ""},
            {label: 'Price (Lowest)', value: 'price'},
            {label: 'Price (Highest)', value: '-price'},
            {label: 'Purchases (Lowest)', value: 'purchases'},
            {label: 'Purchases (Highest)', value: '-purchases'},
            {label: 'Rating (Lowest)', value: 'average_rating'},
            {label: 'Rating (Highest)', value:'-average_rating'},
            ]


    },

    mounted: function() {
        this.getServices()
        this.getParentCategories()
      //  this.getPages()
       // this.parentCategoryId = this.parentCategories[0].id
    },

    methods: {
        getServices: function() {
            getServices(this, this.servicesUrl)
            this.getPages()
            this.loading = false
        },

      getService: function(serviceId) {
      //  this.loading = true
        getService(serviceId, this)
      //  this.loading = false
      },

      updateService: function() {
          this.loading = true
          let api_url = `/api/services/${this.currentService.id}/`
          this.$http.put(api_url, this.currentService).then(function (response) {
              $('#editServiceModal').modal('toggle')
              this.getServices()
          }).catch(function (err) {
              this.loading = false
              let jsonerr = JSON.parse(err.bodyText)
              attachFormErrors(jsonerr, true, 'service')
          })
      },

     getPages: function() {
        const totalResults = this.count
        let pageNumbers = 0
        if (totalResults % 30 === 0) {
            pageNumbers = Math.floor(totalResults / 30)
        } else {
            pageNumbers = Math.floor(totalResults / 30 ) + 1
        }
        console.log(pageNumbers)
        // for(let i=1; i++; i <= pageNumbers) {
        //     this.pages[0] = i
        // }
     },

      onOrderChange: function() {
        this.loading = true
        if(this.currentOrder.value === "") {
            this.servicesUrl = this.api_url
        } else {
            this.servicesUrl = `/api/services/categories/{{category.name}}/services/?ordering=${this.currentOrder}`
        }
        this.getServices()
      },

       deleteService: function(serviceId) {
            deleteService(serviceId, this)
        },

      addToCart: function(serviceId) {
            addToCart(serviceId, this)
      },

      getParentCategories: function() {
        getParentCategories(this)
      },

      getSubCategories: function() {
        getSubCategories(this)
      },

      getServiceCategories: function() {
        getServiceCategories(this)
      },

      removeCategory: function(categoryId) {
        removeCategory(categoryId, this)
      },

      addCategory: function(categoryId) {
        addCategory(categoryId, this)
      },

    }
})
</script>
{% endblock content %}