{% extends 'base.html' %}

{% block content %}
    <div id="service-detail-app" style="padding-top:3rem">
        {% include 'forms/_review_forms.html' %}
        {% include 'forms/_service_forms.html' %}
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" id="service-section">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4><strong>${currentService.name}</strong></h4>
                            <div style="font-size:.7rem"><strong>(${currentService.delivery_time_display}) days</strong></div>
                            <div style="padding-top:.25rem"><span style="padding-right:.3rem">${currentService.average_rating}</span><i class="fa fa-star"></i></div>
                            <span><i class="fa fa-edit" v-on:click="getServiceModal()"></i></span>
                            <span><i class="fa fa-trash-alt" v-on:click="deleteService()"></i></span>
                        </div>


                        <div class="card-body text-center">
                            <img :src="currentService.photos[0].photo" class="img-fluid service-photo">
                        </div>

                        <div class="card-footer text-center">
                            <div><strong>$${currentService.price}</strong></div>
                            <div class="btn ulance-btn" style="font-size:.75rem;margin-top:.5rem;margin-bottom:.5rem">Add to cart</div>
                            <div><span style="font-size:.8rem"><strong>Purchases: ${currentService.purchases}</strong></span></div>
                            <div v-for="category in currentService.category">
                                <span v-if="category.parent">
                                    <span class="badge badge-info badge-pill" style="margin:.25rem;font-size:.8rem" >${category.name}</span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 col-12" id="service-details">
                    <div id="service-detail-section" class="text-center">
                        <div class="card">

                            <div class="card-header">
                                <h5 class="text-center"><strong>About Service</strong></h5>
                            </div>

                            <div class="card-body">
                                <p>${currentService.description}</p>
                            </div>

                        </div>
                    </div>

                    <div id="service-user" class="text-center" style="padding-top:1.5rem">
                        <div class="card">

                            <div class="card-header">
                                <h5><strong>Seller</strong></h5>
                            </div>

                            <div class="card-body">
                                <div><a :href="currentService.user.profile.url"><img :src="currentService.user.profile.profile_pic" class="img-fluid rounded-circle service-user-photo"></a></div>
                                <div class="user-info"><strong>${currentService.user.username}</strong></div>
                            </div>

                            <div class="card-footer">
                                <div style="font-size:.8rem">Services Completed: ${currentService.user.profile.services_completed}</div>
                            </div>

                        </div>
                    </div>
                    </div>
            </div>

            <!--REVIEW SECTION -->
        <div style="padding-top:5rem">
            <form id="add-review-form" v-on:submit.prevent="addReview()">
                <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                    <span class="text-center text-danger" id="description_review"></span>
                    <textarea class="form-control" rows="5" v-model="newReview.description" placeholder="Description your experience."></textarea>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-10 col-10">
                    <span class="text-center text-danger" id="rate_review"></span>
                    <input type="number" step="0.01" name="rate" v-model="newReview.rate" class="form-control"  placeholder="Enter a rating between 1-10.">
                </div>
                <button type="submit" style="font-size:.8rem;margin-left:1rem" class="btn ulance-btn">Submit Review</button>
            </form>
        </div>

            {% include '_review_list.html' %}


        </div>
    </div>

<script>
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    var service = new Vue({
        el: '#service-detail-app',
        delimiters: ['${','}'],

        data: {
            currentService: {},
            serviceUrl: "/api/services/{{Service.id}}/",
            reviews: [],
            currentReview: {},
            newReview: {description: "", rate: ""},
            parentCategories: [],
            subCategories: [],
            parentCategoryId: "",
            serviceCategories: [],
        },

        mounted: function() {
            this.getService();
            this.getReviews();
            this.getParentCategories()


        },

        methods:  {
            getService: function() {
               this.$http.get(this.serviceUrl).then(function(response){
                   this.currentService = response.data
                   this.parentCategoryId = response.data.id
                   this.getServiceCategories()
               })
            },

            getServiceModal: function() {
                $('#editServiceModal').modal('show')
            },

            deleteService: function() {
                const self = this
                onDeletion('Are you sure you want to delete this service?', function(value){
                    if(value) {
                        self.$http.delete(self.serviceUrl).then(function(response) {
                            onAlert(`Service: ${self.currentService.name} has been deleted`)
                        }).catch(function(err){

                        })
                    }
                })
            },

            updateService: function() {
                this.$http.put(this.serviceUrl, this.currentService).then(function(response){
                    this.getService()
                    $('#editServiceModal').modal('toggle')
                }).catch(function(err){
                    const jsonerr = JSON.parse(err.bodyText)
                    attachFormErrors(jsonerr, true, 'service')
                })
            },

            getReviews: function() {
                let api_url = '/api/services/{{Service.id}}/reviews/'
                this.$http.get(api_url).then(function(response){
                    this.reviews = response.data.results
                })
            },

            addReview: function() {
              let api_url = '/api/services/{{Service.id}}/reviews/create/'
                this.$http.post(api_url, this.newReview).then(function(response){
                    this.getReviews()

                }).catch(function(err){
                    console.log(err)
                    let jsonerr = JSON.parse(err.bodyText)
                    attachFormErrors(jsonerr, false, 'review')
                    if(err.body.message) {
                        onWarning(err.body.message)
                    }

                    if(err.status === 401) {
                        onWarning("You need to login to submit a review.")
                    }
                })
            },

            getReview: function(reviewId) {
                let api_url = `/api/services/reviews/${reviewId}`
                this.$http.get(api_url).then(function(response){
                    this.currentReview = response.data
                    $('#editReviewModal').modal('show')
                })
            },

            updateReview: function() {
              let api_url = `/api/services/reviews/${this.currentReview.id}/`
                this.$http.put(api_url, this.currentReview).then(function(response){
                    this.getReviews()
                    $('#editReviewModal').modal('toggle')
                }).catch(function(err){
                    const jsonerr = JSON.parse(err.bodyText)
                    attachFormErrors(jsonerr, true, 'review')
                })
            },

            deleteReview: function(reviewId) {
                let api_url = `/api/services/reviews/${reviewId}`
                const self = this
                onDeletion('Are you sure you want to delete this review?', function(value){
                    if(value){
                        self.$http.delete(api_url).then(function(response){
                            self.getReviews()
                        }).catch(function(err){

                        })
                    }
                })
            },

          getParentCategories: function() {
            let api_url = '/api/services/main-categories/'
              this.$http.get(api_url).then(function(response){
                  this.parentCategories = response.data.results  //this.parentCategories.concat(response.data.results)//
              })
          },

          getSubCategories: function() {
            let api_url = `/api/services/sub-categories/${this.parentCategoryId}/`
            this.$http.get(api_url).then(function(response){
                this.subCategories = response.data.results
            })
          },

          getServiceCategories: function() {
            let api_url = `/api/services/${this.currentService.id}/categories/`
            this.$http.get(api_url).then(function(response){
                this.serviceCategories = response.body
            })
          },

          removeCategory: function(categoryId) {
              let api_url = `/api/services/${this.currentService.id}/remove/${categoryId}/`
              this.$http.post(api_url).then(function(response){
                this.getServiceCategories()
              }).catch(function(err){
                  const message = err.body.message
                  onWarning(message)
              })
          },

          addCategory: function(categoryId) {
              let api_url = `/api/services/${this.currentService.id}/add/${categoryId}/`
              this.$http.post(api_url).then(function(response){
                  this.getServiceCategories()
              }).catch(function(err){
                  const message = err.body.message
                  onWarning(message)
              })
          },
        }
    })
</script>
{% endblock content %}