#service-section {
    i {
      color: $primary-cl;
    }

   .service-photo {
    width:100%;
    padding-left:2.5rem;
    height: 30rem;
    max-height: auto;
  }

}

#service-details {

  .service-user-photo {
    max-height:auto;
    width: 25%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

#reviews-section {
  i {
    color: $primary-cl;
  }
}