{% load static %}
{% load staticfiles %}
<div class="landing-intro">
    <div class="text-center align-middle">
    <img src = "{% static 'static/img/ulance.png' %}" class="img-fluid"/></br>
        <a href="{% url 'accounts:register' %}"/><span class="ulance-btn">Start Exploring Services</span>
            <a href="{% url 'accounts:register' %}"/><span class="ulance-btn">Join</span></a>
            <a href="{% url 'accounts:login' %}"><span class="ulance-btn">Login</span></a>
    </div>


    <!--<div class="row" style="display:table-cell">-->
        <!--<div class="col-md-4">-->
            <!--<p>Join</p>-->
        <!--</div>-->
    <!--</div>-->
</div>

{% include "_errors.html" %}

